SuiteName=Deployment_ST_PCF_ESC

#SITE Instances also defines the sequence of execution. First is setup TEST (Mandatory), Second is SEQUENTIAL if exists then rest in parallel.
SITEInstances=SetupTest,Deployment,Teardown

SetupTest.Tags="@SetupTest_Resiliency_PCF"
SetupTest.Config=at-component-pcf/config/TB5_RTP_OSP_SMI_NON_UltraM/01_config_deployability.properties
SetupTest.ExecutionType=TEST
SetupTest.RetryCount=1
SetupTest.SleepInterval=10

Deployment.Tags="@PCF AND @Combine_Deployment_Longevity"
Deployment.Config=at-component-pcf/config/TB5_RTP_OSP_SMI_NON_UltraM/01_config_deployability.properties
Deployment.ExecutionType=SEQUENTIAL

Teardown.Tags="@PCF_Resiliency_Teardown"
Teardown.Config=at-component-pcf/config/TB5_RTP_OSP_SMI_NON_UltraM/01_config_deployability.properties
Teardown.ExecutionType=TEARDOWN
