SuiteName=SVI_Automation_Validations

####SITE Instances also defines the sequence of execution. First is setup TEST (Mandatory), Second is SEQUENTIAL if exists then rest in parallel.
#### In this pbmapping we are not running any tests but a report generation which refers to Feature files placed under folder
#### at-component-pcf/tests/z-reports
SITEInstances=AutomationReport

AutomationReport.Tags="@SVIAutomationValidations"
AutomationReport.Config=at-component-pcf/config/reports/01_config_reports.properties
AutomationReport.ExecutionType=SEQUENTIAL
