SuiteName=Upgrade_PCF_ESC

#SITE Instances also defines the sequence of execution. First is setup TEST (Mandatory), Second is SEQUENTIAL if exists then rest in parallel.
SITEInstances=SetupTest,Upgrade,Teardown

SetupTest.Tags="@SetupTest_Resiliency_PCF"
SetupTest.Config=config/PCF_RTP_SOLN_TB15/Config_BV_Auto.properties
SetupTest.ExecutionType=TEST
SetupTest.RetryCount=1
SetupTest.SleepInterval=10

Upgrade.Tags="@PCF_upgrade"
Upgrade.Config=config/PCF_RTP_SOLN_TB15/Config_BV_Auto.properties
Upgrade.ExecutionType=SEQUENTIAL

Teardown.Tags="@uPCRF_Resiliency_Teardown"
Teardown.Config=config/PCF_RTP_SOLN_TB15/Config_BV_Auto.properties
Teardown.ExecutionType=TEARDOWN


