SuiteName=Upgrade_PCF_TB4

#SITE Instances also defines the sequence of execution. First is setup TEST (Mandatory), Second is SEQUENTIAL if exists then rest in parallel.
SITEInstances=SetupTest,Upgrade,Teardown

SetupTest.Tags="@SetupTest_Resiliency_PCF"
SetupTest.Config=at-component-pcf/config/TB4_RTP_OSP_SMI_ULTRAM/01_config_upgrade.properties
SetupTest.ExecutionType=TEST
SetupTest.RetryCount=1
SetupTest.SleepInterval=10

Upgrade.Tags="@PCF AND @PCF_Canary"
Upgrade.Config=at-component-pcf/config/TB4_RTP_OSP_SMI_ULTRAM/01_config_upgrade.properties
Upgrade.ExecutionType=SEQUENTIAL

Teardown.Tags="@PCF_Resiliency_Teardown"
Teardown.Config=at-component-pcf/config/TB4_RTP_OSP_SMI_ULTRAM/01_config_upgrade.properties
Teardown.ExecutionType=TEARDOWN


