SuiteName=Stress_ST_PCF_TB4

#SITE Instances also defines the sequence of execution. First is setup TEST (Mandatory), Second is SEQUENTIAL if exists then rest in parallel.
SITEInstances=SetupTest,Stress,Teardown

SetupTest.Tags="@SetupTest_Resiliency_PCF"
SetupTest.Config=at-component-pcf/config/TB4_RTP_OSP_SMI_ULTRAM/01_config_stressability.properties
SetupTest.ExecutionType=TEST
SetupTest.RetryCount=1
SetupTest.SleepInterval=10

Stress.Tags="@PCF AND @Stress AND ~@Dropped"
Stress.Config=at-component-pcf/config/TB4_RTP_OSP_SMI_ULTRAM/01_config_stressability.properties
Stress.ExecutionType=SEQUENTIAL

Teardown.Tags="@PCF_Resiliency_Teardown"
Teardown.Config=at-component-pcf/config/TB4_RTP_OSP_SMI_ULTRAM/01_config_stressability.properties
Teardown.ExecutionType=TEARDOWN
