SuiteName=Fresh_Install_PCF_TB6

#SITE Instances also defines the sequence of execution. First is setup TEST (Mandatory), Second is SEQUENTIAL if exists then rest in parallel.
SITEInstances=SetupTest,Fresh_Install,Teardown

SetupTest.Tags="@SetupTest_Resiliency_PCF"
SetupTest.Config=config/TB6_RTP_VMW/Config_BV_Auto.properties
SetupTest.ExecutionType=TEST
SetupTest.RetryCount=1
SetupTest.SleepInterval=10

Fresh_Install.Tags="@uPCRF_Deployment"
Fresh_Install.Config=config/TB6_RTP_VMW/Config_BV_Auto.properties
Fresh_Install.ExecutionType=SEQUENTIAL

Teardown.Tags="@uPCRF_Resiliency_Teardown"
Teardown.Config=config/TB6_RTP_VMW/Config_BV_Auto.properties
Teardown.ExecutionType=TEARDOWN


