SuiteName=BuildValidation_ST_PCF_TB6

#SITE Instances also defines the sequence of execution. First is setup TEST (Mandatory), Second is SEQUENTIAL if exists then rest in parallel.
SITEInstances=SetupTest,Longevity,Resiliency_Aggravator,BV_Teardown

SetupTest.Tags="@SetupTest_BV_PCF"
SetupTest.Config=at-component-pcf/config/TB6_RTP_VMW/01_config_buildvalidation.properties
SetupTest.ExecutionType=TEST
SetupTest.RetryCount=1
SetupTest.SleepInterval=10

Longevity.Tags="@PCF AND @BV AND @Longevity"
Longevity.Config=at-component-pcf/config/TB6_RTP_VMW/01_config_buildvalidation.properties
Longevity.ExecutionType=SEQUENTIAL

Resiliency_Aggravator.Tags="@PCF AND @BV AND @ResilencyAggravator"
Resiliency_Aggravator.Config=at-component-pcf/config/TB6_RTP_VMW/01_config_buildvalidation.properties
Resiliency_Aggravator.ExecutionType=SEQUENTIAL

BV_Teardown.Tags="@PCF_LongevityTeardown"
BV_Teardown.Config=at-component-pcf/config/TB6_RTP_VMW/01_config_buildvalidation.properties
BV_Teardown.ExecutionType=TEARDOWN