SuiteName=Resilency_P2_ST_PCF_TB6

#SITE Instances also defines the sequence of execution. First is setup TEST (Mandatory), Second is SEQUENTIAL if exists then rest in parallel.
SITEInstances=SetupTest,Resiliency_Aggravator_P2,Teardown

SetupTest.Tags="@SetupTest_Resiliency_PCF"
SetupTest.Config=at-component-pcf/config/TB6_RTP_VMW/01_config_resiliency.properties
SetupTest.ExecutionType=TEST
SetupTest.RetryCount=1
SetupTest.SleepInterval=10

Resiliency_Aggravator_P2.Tags="@PCF AND @Resiliency AND @P2 AND ~@Dropped"
Resiliency_Aggravator_P2.Config=at-component-pcf/config/TB6_RTP_VMW/01_config_resiliency.properties
Resiliency_Aggravator_P2.ExecutionType=SEQUENTIAL

Teardown.Tags="@PCF_Resiliency_Teardown"
Teardown.Config=at-component-pcf/config/TB6_RTP_VMW/01_config_resiliency.properties
Teardown.ExecutionType=TEARDOWN
